{% extends 'base.html' %}
{% block title %}FRP Column/Beam Shear Design{% endblock %}

{% block content %}
<div class="container" style="margin-top:30px">
        <div class="fakeimg">
        {% load static %}
        <img src="{% static 'image/shear.jpg' %}" style="width:900px;height:400px;"/>
    </div>

    <form method="post" action="">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <div class="col-md-6">
                {{ field.label_tag }}
                {% if field.help_text %}
                <sup>{{ field.help_text }}</sup>
                {% endif %}
                {{ field.errors }}
            </div>
            <div class="col-md-4 pull-left">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-md btn-primary">CALCULATE</button>
        <br>
        <center>
            <div class="container pt-3 my-3 border bg-primary text-white text-center">
                {% for field in frpbeamshear %}
                <p>{{ field }}</p>
                {% endfor %}
            </div>
        </center>
    </form>
</div>

{% endblock content %}