<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">FRPSR Design</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{% url 'frpflexural' %}">FRP Flexural</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'frpshear' %}">FRP Shear</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'frpColumn' %}">FRP Column</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'frpShearWall' %}">FRP Shear Wall</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'frpMonitor' %}">FRP Monitoring</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'frpInstall' %}">FRP Installation</a></li>
      <li class="nav-item dropdown">
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScBoldA0dqiBcQoNnAfuItZ0ICkueQQ8k0eBwxlLPsgv-IAcA/viewform">COMMENT HERE</a></li>
    </form>
  </div>
</nav>